@font-face {
    font-family: "Cera pro";
    src: url(../fonts/ceropro/CeraPro-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Cera pro";
    src: url(../fonts/ceropro/CeraPro-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Cera pro";
    src: url(../fonts/ceropro/CeraPro-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Cera pro";
    src: url(../fonts/ceropro/CeraPro-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Hanged";
    src: url(../fonts/Hanged\ Letters.ttf);
    font-weight: 400;
}
